@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #da0a0acb;
  --secondary-color: #1c3fa8;
  --dark-color: #000000;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}



.hidden {
  visibility: hidden;
  height: 0;
}



/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}



/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: relative;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}



/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}



/* feeling-stuck */
.feeling-stuck .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.container img{
  margin-left: auto;
  margin-right:auto;
  width:60%;
  height:auto;
}
.feeling-stuck .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}



/* committed */
.committed .grid {
  grid-template-columns: 4fr 3fr;
}



/* Gallery */

.gallery {
  position: relative;
}
.gallery .image-container{
  display:flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
  padding:10px;
  background:#ffffff;
}
.gallery .image-container .image{
  height: 250px;
  width: 350px;
  border:10px solid #ffffff;
  
  overflow:hidden;
  cursor: pointer;
}
.gallery .image-container .image img{
  height:100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}
.gallery .image-container .image:hover img{
  transform: scale(1.1);
}

.gallery .popup-image{
  position: fixed;
  top:0; left:0;
  background:rgba(0, 0, 0, 0.9);
  height:100%;
  width:100%;
  z-index: 100;
  display:none;
}
.gallery .popup-image span{
  position: absolute;
  top:0; right:10px;
  font-size:60px;
  font-weight:bolder;
  color:#fff;
  cursor:pointer;
  z-index: 100;
}
.gallery .popup-image img{
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit:cover;
}






/* Services */
.services-sub-head {
  padding-top:40px;
}

.services-form {
  position: relative;
  top: 0px;
  height: relative;
  width: 100%;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.services-form .form-control {
  margin: 30px 0;
}
.services-form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.services-form input[type='text'],
.services-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.services-form input:focus {
  outline: none;
}




/* about */
table {
  border-collapse: collapse;
  justify-content: space-between;
  width:100%;
}

th {
  text-align: left; 
  border-bottom: 1px #ccc solid;
}

td {
  position: relative;
  text-align: right;
  border-bottom: 1px #ccc solid;
}



.about-head i{
  justify-self: flex;
  
}

.about-main img {
  width: 90%;
  justify-self: flex-end;
}

.about-main .container .grid {
  overflow-x:hidden;
}

.about-main .grid {
  grid-template-columns: 2fr;
  
}

.about-main li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.about-main a:hover {
  font-weight: bold;
}


/* Contact */
.contact-main h3 {
  margin: 20px 0;
}



.contact-main li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.contact-main a:hover {
  font-weight: bold;
}


/* Footer */
.footer .social a {
  margin: 0 10px;
}

.fa-github:hover {
  color: #000000;
}

.fa-facebook:hover {
  color: #1773EA;
}

.fa-instagram:hover {
  color: #B32E87;
}

.fa-twitter:hover {
  color: #1C9CEA;
}



/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .feeling-stuck .grid,
  .committed .grid,
  .services-sub-head .grid,
  .about-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  .navbar .logo {
    font-size: medium;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .feeling-stuck .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .services-head,
  .services-sub-head,
  .about-head {
    text-align: center;
  }

  .services-head img,
  .services-sub-head img,
  .about-head img {
    justify-self: center;
  }

  .services-sub-head .grid > *:first-child,
  .services-sub-head .grid > *:nth-child(2) {
    grid-column: 1;
  }

  .gallery .popup-image img{
    width:75%;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .showcase-form {
    width: 300px;
  }
}
